<div class="container-fluid" ng-controller="AdminController">
    <div class="row">
        <div class="main">
            <h1 class="page-header">Admin</h1>

            <div class="btn-group">
                <a class="btn btn-primary" ng-click="showUsers()">Users</a>
                <a class="btn btn-primary" ng-click="showWorkouts()">Workouts</a>
            </div>
            <br>
            <br>
            <div class="table-responsive" ng-show="toggle">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Username</th>
                        <th><i class="fa fa-fw fa-sort"></i>Creation Date</th>
                        <th><i class="fa fa-fw fa-sort"></i>Admin</th>
                        <th><i class="fa fa-fw fa-sort"></i>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in userList">
                        <td>{{user.username}}</td>
                        <td>{{user.createdDate}}</td>
                        <td>{{user.admin}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-danger" ng-click="deleteUser(user)"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive" ng-show="!toggle">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Workout Name</th>
                        <th><i class="fa fa-fw fa-sort"></i>Creation Date</th>
                        <th><i class="fa fa-fw fa-sort"></i>Public</th>
                        <th><i class="fa fa-fw fa-sort"></i>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="workout in workoutList">
                        <td>{{workout.name}}</td>
                        <td>{{workout.created}}</td>
                        <td>{{workout.public}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-danger" ng-click="deleteWorkout(workout)"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

