
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms : Registration Form</h1>

            <ul class="nav nav-tabs">
                <li><a href="forms.view.html">Forms</a></li>
                <li class="active"><a data-toggle="tab" href="fields.view.html">Fields</a></li>
            </ul>


            <div class="tab-content">
                <div id="fields" class="tab-pane fade in active">
                    </br>
                    <form>
                        <div class="form-group">
                            <label for="inputFirstName">First Name:</label>
                            <div class="row">
                            <div class="col-sm-7 col-xs-5">
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                            </div>
                            <div class="col-sm-5 col-xs-7">
                                <div class="btn-group">
                                    <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-default" href="#"><i class="fa fa-remove"></i></a>
                                    <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i></a>
                                </div>
                            </div>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastName">Last Name:</label>
                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                </div>
                                <div class="col-sm-5 col-xs-7">
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-remove"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDOB">Date of Birth:</label>
                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                    <input type="date" class="form-control" id="inputDOB" placeholder="Select Date">
                                </div>
                                <div class="col-sm-5 col-xs-7">
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-remove"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dropdownGender">Gender:</label>
                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownGender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select Gender
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownGender">
                                            <li><a href="#">Male</a></li>
                                            <li><a href="#">Female</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-7">
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-remove"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Roles checkbox-->
                        <div class="form-group">
                            <label>Roles:</label>
                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked> Admin
                                    </label>
                                </div>
                                </div>
                                <div class="col-sm-5 col-xs-7">
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-remove"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i></a>
                                    </div>
                                </div>

                                </div>

                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Student
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked> User
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <!-- License Agreement Radio buttons-->
                        <div class="form-group">
                            <label >License Agreement:</label>
                            <div class="row">
                                <div class="col-sm-7 col-xs-5">
                                    <div class="radio">
                                        <label><input type="radio" name="licenseAgree" checked>Yes</label>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-7">
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-remove"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-reorder"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="licenseAgree">No</label>
                            </div>
                        </div>


                        <hr>


                        <div class="form-group">
                            <label for="dropdownNewField">Add New Field:</label>
                            <div class="row">
                                <div class="col-sm-7 col-xs-7">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownNewField" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select New Field to Add
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownNewField">
                                            <li><a href="#">Single Line Text</a></li>
                                            <li><a href="#">Date</a></li>
                                            <li><a href="#">Dropdown</a></li>
                                            <li><a href="#">Checkboxes</a></li>
                                            <li><a href="#">Rodio Buttons</a></li>
                                            <li><a href="#">Paragraph Text Field</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-5">
                                    <div class="btn-group">

                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>

                </div>
                <div id="forms" class="tab-pane fade">
                    <h3>Fields</h3>
                    <p>Some content in menu 1.</p>
                </div>

            </div>

        </div>
    </div>
</div>

