
<div class="container-fluid" ng-controller="FormController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="forms.view.html">Forms</a></li>
                <li><a href="fields.view.html">Fields</a></li>
            </ul>

            <div class="tab-content">
                <div id="forms" class="tab-pane fade in active">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><i class="fa fa-fw fa-sort"></i>Form Name</th>
                                <th><i class="fa fa-fw fa-sort"></i>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="form-control" placeholder="name"/></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-check"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="fields.view.html">Registration Form</a></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="fields.view.html">Contact List</a></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="fields.view.html">To Do List</a></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
                                        <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="fields" class="tab-pane fade">
                    <h3>Fields</h3>
                    <p>Some content in menu 1.</p>
                </div>

            </div>

        </div>
    </div>
</div>

