html{
    height: 100%;
    width: 100%;
}

body{
    background: url("cover.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.header1{
    height: 50px;
    width: 100%;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 270px;
    color: black;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: bold;
    font-size: 50px;
}

.header2{
    height: 50px;
    width: 100%;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 290px;
    color: black;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: bold;
    font-size: 50px;
}

.title{
    height: 150px;
    width: 100%;
    margin: 0;
    padding-top: 40px;
    /*padding-bottom: 20px;*/
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 40px;
    font-weight: bold;
}

.content{
    width: 100%;
    height: 100px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 250px;
    padding-right:250px;
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: bold;
}

.mail{
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: bold;
}

