
<div class="container-fluid" ng-controller="MyWorkoutController">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="main">
            <h1 class="page-header">My Workouts</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Workout Name</th>
                        <th><i class="fa fa-fw fa-sort"></i>Action</th>
                        <th><i class="fa fa-fw fa-sort"></i>Make Active</th>
                        <th><i class="fa fa-fw fa-sort"></i>Make Public</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="workout in loggedUserWorkouts">
                        <td> {{workout.name}} </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="deleteWorkout($index)"><i class="fa fa-times"></i></a>
                                <a class="btn btn-default" ng-click="viewWorkout(workout)"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                        <td><input ng-show="showActive(workout)" type="radio" ng-click="makeActive($index)" name="activeWork"></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" ng-show="showPublic(workout)" ng-click="makeWorkoutPublic($index)"><i class="fa fa-check"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

