
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
            <div class="main">
            <h1 class="page-header">Active Workouts</h1>

            <dl class="dl-horizontal">
                <dt>Name :</dt>
                <dd>2 Week Beginner Workout</dd>
                <dt>Description :</dt>
                <dd>Program is for absolute beginner who has never touched a weight before.</dd>
                <dt>Start Date :</dt>
                <dd>14 March 2016 : Monday</dd>
                <dt>Current Date :</dt>
                <dd>12 March 2016 : Saturday</dd>
                <dt>Focus Group :</dt>
                <dd>Legs</dd>
            </dl>

            <h3>Workout for today</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Exercise Name</th>
                        <th><i class="fa fa-fw fa-sort"></i>Target</th>
                        <th><i class="fa fa-fw fa-sort"></i>Achieved</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Leg Extension</td>
                        <td> 8 - 6 - 8 </td>
                        <td>
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Leg curls (sitting)</td>
                        <td> 10 - 12 </td>
                        <td>
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Leg press on hackenschmidt machine</td>
                        <td> 5 - 7 - 6 </td>
                        <td>
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Calf Press using Leg Press Machine</td>
                        <td> 12 - 10 - 8 </td>
                        <td>
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-floppy-o fa-lg"></i></a>
                            </div>
                        </td>
                    </tr>
                    <!--<tr ng-repeat="form in loggedUserForms">-->
                    <!--<td> {{form.title}} </td>-->
                    <!--<td>-->
                    <!--<div class="btn-group">-->
                    <!--<a class="btn btn-default" ng-click="deleteForm($index)"><i class="fa fa-times"></i></a>-->
                    <!--<a class="btn btn-default" ng-click="selectForm($index)"><i class="fa fa-pencil"></i></a>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>

            <div id="fields" class="tab-pane fade">
                <h3>Fields</h3>
                <p>Some content in menu 1.</p>
            </div>

        </div>
    </div>
</div>

