
<div class="container-fluid" ng-controller="ActiveWorkoutController">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
            <div class="main">
            <h1 class="page-header">Active Workouts</h1>

            <dl class="dl-horizontal">
                <dt>Name :</dt> <dd>{{activeWorkout.name}}</dd>
                <dt>Description :</dt> <dd>{{activeWorkout.description}}</dd>
                <dt>Week Number :</dt> <dd>{{currentWeekNumber}}</dd>
            </dl>

            <h3>Workout for today</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Exercise Name</th>
                        <th><i class="fa fa-fw fa-sort"></i>Target Reps</th>
                        <!--<th><i class="fa fa-fw fa-sort"></i>Save Reps</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exercise in currentDayWorkout">
                        <td>{{exercise.eName}}</td>
                        <td><label ng-repeat="tReps in exercise.repsTarget">{{tReps}}&nbsp;&nbsp;</label></td>
                        <!--<td><div ng-repeat="tReps in exercise.repsTarget">-->
                            <!--<input  type="text" ng-model="achieve.rep" maxlength="2" size="2">&nbsp;&nbsp;-->
                            <!--<div class="btn-group">-->
                                <!--<a class="btn btn-default" ng-click="saveAchievedReps(achieve,$index,exercise)"><i class="fa fa-floppy-o fa-lg"></i></a>-->
                            <!--</div>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-block" ng-click="currentWorkoutComplete()">Set Todays Workout Complete</button>
                </div>
        </div>
    </div>
</div>

