
<div class="container-fluid" ng-controller="ActiveWorkoutController">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
            <div class="main">
            <h1 class="page-header">Active Workouts</h1>


                <div class="alert alert-dismissible alert-success" ng-show="workoutCompleteFlag">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Congratulation!</strong> You have successfully completed your workout. Please select different workout
                    from your Workouts page. If you have no new workouts, visit Create Workout Page.
                </div>

                <div class="alert alert-dismissible alert-danger" ng-show="setActiveWorkoutFlag">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Wait!</strong> You have not yet set any workout to be active. Please go to workout page to set any available workout active.
                    If you have not created one, then visit Create Workout page.
                </div>


                <div ng-show="!setActiveWorkoutFlag && !workoutCompleteFlag">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h3 class="list-group-item-heading">Name</h3>
                            <h5 class="list-group-item-text"> : {{activeWorkout.name}}</h5>
                        </div>
                        <div class="list-group-item">
                            <h3 class="list-group-item-heading">Description</h3>
                            <h5 class="list-group-item-text"> : {{activeWorkout.description}}</h5>
                        </div>
                        <div class="list-group-item">
                            <h3 class="list-group-item-heading">Total Weeks</h3>
                            <h5 class="list-group-item-text"> : {{activeWorkout.numWeeks}}</h5>
                        </div>
                        <div class="list-group-item">
                            <h3 class="list-group-item-heading">Current Week Number</h3>
                            <h5 class="list-group-item-text"> : {{currentWeekNumber}}</h5>
                        </div>
                    </div>

            <h3>Workout for today</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Exercise Name</th>
                        <th><i class="fa fa-fw fa-sort"></i>Target Reps</th>
                        <!--<th><i class="fa fa-fw fa-sort"></i>Save Reps</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exercise in currentDayWorkout">
                        <td>{{exercise.eName}}</td>
                        <td><label ng-repeat="tReps in exercise.repsTarget track by $index">{{tReps}}&nbsp;&nbsp;</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="currentWorkoutComplete()">Set Todays Workout Complete</button>
                </div>
                </div>
        </div>
    </div>
</div>

