<div class="container-fluid" ng-controller="CreateWorkoutController">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="main">
            <h1 class="page-header">Create New Workout</h1>
            <form class="form-horizontal" ng-show="!displaySuccessFlag">
                <div class="form-group">
                    <label for="inputWorkoutName" class="col-sm-2 control-label">Workout Name</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="workoutPlan.name" class="form-control" id="inputWorkoutName"
                               placeholder="workout name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDesc" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="workoutPlan.description" placeholder="Description" id="inputDesc"></textarea>
                        <!--<input type="text" ng-model="workoutPlan.description" class="form-control" id="inputDesc"-->
                               <!--placeholder="Description">-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNumWeeks" class="col-sm-2 control-label">Number of Weeks</label>
                    <div class="col-sm-10">
                        <input type="number" min="1" max="16" ng-model="weekNum" class="form-control" id="inputNumWeeks"
                               placeholder="Number of Weeks">
                    </div>
                </div>
                <div class="form-group" ng-show="!addTableFlag">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="addTable(weekNum)" class="btn btn-primary">Add Week</button>
                    </div>
                </div>
                <div class="table-responsive" ng-show="addTableFlag" ng-repeat="index in weekArray track by $index">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><h6>Week : {{index.weekNum}}</h6></td>
                        </tr>

                        <!--Sunday-->
                        <tr>
                            <td>Day 1</td>
                            <td>
                                <input ng-model="sunExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="addExercise(index.weekNum,'sunExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="sunExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="sunExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="sunExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="sunExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Sunday.sunExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>

                        <!--Monday-->
                        <tr>
                            <td>Day 2</td>
                            <td>
                                <input ng-model="monExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="addExercise(index.weekNum,'monExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="monExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="monExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="monExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="monExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Monday.monExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>

                        <!--Tuesday-->
                        <tr>
                            <td>Day 3</td>
                            <td>
                                <input ng-model="tueExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="addExercise(index.weekNum,'tueExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="tueExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="tueExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="tueExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="tueExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Tuesday.tueExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>

                        <!--Wednesday-->
                        <tr>
                            <td>Day 4</td>
                            <td>
                                <input ng-model="wedExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="addExercise(index.weekNum,'wedExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="wedExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="wedExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="wedExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="wedExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Wednesday.wedExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>

                        <!--Thursday-->
                        <tr>
                            <td>Day 5</td>
                            <td>
                                <input ng-model="thurExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" ng-click="addExercise(index.weekNum,'thurExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="thurExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="thurExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="thurExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="thurExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Thursday.thurExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>

                        <!--Friday-->
                        <tr>
                            <td>Day 6</td>
                            <td>
                                <input ng-model="friExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="addExercise(index.weekNum,'friExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="friExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="friExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="friExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="friExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Friday.friExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>

                        <!--Saturday-->
                        <tr>
                            <td>Day 7</td>
                            <td>
                                <input ng-model="satExerciseData.name" type="text" class="form-control"
                                       placeholder="Exercise name"/>
                            </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary"
                                       ng-click="addExercise(index.weekNum,'satExerciseData')"><i
                                            class="fa fa-plus"></i></a>
                                </div>
                            </td>
                            <td align="center">Reps :
                                <input type="number" ng-model="satExerciseData.rep1" min="1" max="16">
                                <input type="number" ng-model="satExerciseData.rep2" min="1" max="16">
                                <input type="number" ng-model="satExerciseData.rep3" min="1" max="16">
                                <input type="number" ng-model="satExerciseData.rep4" min="1" max="16">
                            </td>
                        </tr>
                        <tr ng-show="showFlag" ng-repeat="exer in weekArray[index.weekNum-1].Saturday.satExerDet">
                            <td><label>{{exer.eName}}</label></td>
                            <td><label>{{exer.repsTarget}}</label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-offset-2 col-sm-10" ng-show="addTableFlag">
                    <button class="btn btn-primary" ng-click="create()">Create</button>
                </div>
            </form>
            <!--display workout has been successfully created.-->
            <div class="list-group" ng-show="displaySuccessFlag">

                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Well done!</strong> You have successfully created your workout. Go to <p
                        class="text-danger">Workouts</p> page to make this your active workout.
                </div>

                <div class="list-group-item">
                    <h3 class="list-group-item-heading">Name</h3>
                    <h5 class="list-group-item-text"> : {{createdWorkout.name}}</h5>
                </div>
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">Description</h3>
                    <h5 class="list-group-item-text"> : {{createdWorkout.description}}</h5>
                </div>
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">Active Workout</h3>
                    <h5 class="list-group-item-text"> : {{createdWorkout.active}}</h5>
                </div>
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">Public Workout</h3>
                    <h5 class="list-group-item-text"> : {{createdWorkout.public}}</h5>
                </div>
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">Number of Weeks</h3>
                    <h5 class="list-group-item-text"> : {{createdWorkout.numWeeks}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>