
<div class="container-fluid" ng-controller="FormController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>

            <div ng-show="message" class="alert alert-danger fade in">
                <div class="close" data-dismiss="alert" aria-label="close">&times;</div>
                <strong>{{message}}</strong>
            </div>
            <div class="tab-content">
                <div id="forms" class="tab-pane fade in active">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><i class="fa fa-fw fa-sort"></i>Form Name</th>
                                <th><i class="fa fa-fw fa-sort"></i>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input ng-model="formName" type="text" class="form-control" placeholder="name"/></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" ng-click="addForm()"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-default" ng-click="updateForm()"><i class="fa fa-check"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="form in loggedUserForms">
                                <td><a href="#/form/{{form._id}}/fields" ng-click="loggedUser.formName = form.title">{{form.title}}</a></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" ng-click="deleteForm($index)"><i class="fa fa-times"></i></a>
                                        <a class="btn btn-default" ng-click="selectForm($index)"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

