
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>

            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Username</th>
                        <th><i class="fa fa-fw fa-sort"></i>Password</th>
                        <th><i class="fa fa-fw fa-sort"></i>Role</th>
                        <th><i class="fa fa-fw fa-sort"></i>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="Username"/></td>
                        <td><input type="text" class="form-control" placeholder="Password"/></td>
                        <td><input type="text" class="form-control" placeholder="role1, role2"/></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="#"><i class="fa fa-plus"></i></a>
                                <a class="btn btn-default" href="#"><i class="fa fa-check"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Alice</td>
                        <td></td>
                        <td>student</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
                                <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td></td>
                        <td>faculty | admin</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
                                <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Charlie</td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
                                <a class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

