
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Create New Workout</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">Workout Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUsername" placeholder="workout name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDesc" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputDesc" placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStartDate" class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputStartDate" placeholder="Select Date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputWeeks" class="col-sm-2 control-label">Weeks</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="2" size="2" class="form-control" id="inputWeeks" placeholder="weeks">
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><h4>Week 1</h4></td>
                    </tr>
                    <tr>
                        <td width="20%">Sunday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Leg Extension</td>
                        <td> 8 - 6 - 8 </td>
                    </tr>
                    <tr>
                        <td>Leg curls (sitting)</td>
                        <td> 10 - 12 </td>
                    </tr>
                    <tr>
                        <td>Leg curls (standing)</td>
                        <td> 10 - 12 - 10</td>
                    </tr>
                    <tr>
                        <td width="12%">Monday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Rest</td>
                    </tr>
                    <tr>
                        <td width="12%">Tuesday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Wednesday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Thursday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Friday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Saturday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><h4>Week 1</h4></td>
                    </tr>
                    <td width="12%">Sunday</td>
                    <td>
                        <input type="text" class="form-control" placeholder="Exercise name"/>
                    </td>
                    <td width="5%">
                        <a class="btn btn-default"><i class="fa fa-search"></i></a>
                    </td>
                    <td align="left">Reps :
                        <input type="text" maxlength="2" size="2">
                        <input type="text" maxlength="2" size="2">
                        <input type="text" maxlength="2" size="2">
                        <input type="text" maxlength="2" size="2">
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td width="12%">Monday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Tuesday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Wednesday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Thursday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Friday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="12%">Saturday</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Exercise name"/>
                        </td>
                        <td width="5%">
                            <a class="btn btn-default"><i class="fa fa-search"></i></a>
                        </td>
                        <td align="left">Reps :
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                            <input type="text" maxlength="2" size="2">
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>


                    <!--<tr ng-repeat="form in loggedUserForms">-->
                    <!--<td> {{form.title}} </td>-->
                    <!--<td>-->
                    <!--<div class="btn-group">-->
                    <!--<a class="btn btn-default" ng-click="deleteForm($index)"><i class="fa fa-times"></i></a>-->
                    <!--<a class="btn btn-default" ng-click="selectForm($index)"><i class="fa fa-pencil"></i></a>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-block">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

