
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Public Workouts</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"></i>Workout Name</th>
                        <th><i class="fa fa-fw fa-sort"></i>Action</th>
                        <th><i class="fa fa-fw fa-sort"></i>Add to My Workout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>7 Day Beginner Trainer</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Power Bodybuilding</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Lean Body Trainer</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                            </div>
                        </td>
                    </tr>
                    <!--<tr ng-repeat="form in loggedUserForms">-->
                    <!--<td> {{form.title}} </td>-->
                    <!--<td>-->
                    <!--<div class="btn-group">-->
                    <!--<a class="btn btn-default" ng-click="deleteForm($index)"><i class="fa fa-times"></i></a>-->
                    <!--<a class="btn btn-default" ng-click="selectForm($index)"><i class="fa fa-pencil"></i></a>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>

            <div id="fields" class="tab-pane fade">
                <h3>Fields</h3>
                <p>Some content in menu 1.</p>
            </div>

        </div>
    </div>
</div>

