
<div class="container-fluid" ng-controller="ExerciseSearchController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Search for exercises</h1>
            <form class="form-horizontal">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search" >
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>


<!--<div class="container fluid" ng-controller="ExerciseSearchController">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<h4>Custom search field</h4>-->
            <!--<div id="custom-search-input">-->
                <!--<div class="input-group col-md-12">-->
                    <!--<input type="text" class="form-control input-md" placeholder="Buscar" />-->
                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-info btn-md" type="button">-->
                            <!--<i class="glyphicon glyphicon-search"></i>-->
                        <!--</button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->